/*##################################*/
/* GENERAL SETTINGS */
/*##################################*/
*{
  box-sizing: border-box;
}


h2,h1,h3{
    color: #44d62c;

  }
  h1{
    font-size:2rem;
  }
  p{
    color: #CCCCCC;
  }
  
  
  body {
    margin: 0;
    font-family: hack, sans-serif;
    background: #38444c;
    color:floralwhite;
  }

  .container{
    display: grid;
    width: 90vw;
    height: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    grid-template-columns:1fr;
    grid-template-areas: "nav "
                        "main"
                        "body"
                         "footer";
    justify-items: center;
    /* border: red 2px solid; */
  }

  #wraper_planner{
      display: flex;
      flex-flow: column nowrap;
  }

#container_info{
  grid-area:body;
  display: grid;

  margin: auto;
  grid-gap: 1rem;
  /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
  /* grid-auto-rows: minmax(400px, auto); */
  grid-template-columns:1fr;
  grid-template-areas: "foto"
                      "info"
                      "trip";
  justify-items: center;
  /* border: red 2px solid; */

}

img {
  max-width: 100%;
  height: auto;
  width: 400px;
}
  
/*##################################*/
/* POST SETTINGS */
/*##################################*/


@media(min-width:600px){


}

@media(min-width:1000px){
  .container{
    display: grid;
    max-width: 960px;
    height: 100%;
    margin: auto;
    grid-gap: 1rem;
    /* grid-template-rows: 60px 45vh 45vh 45vh 45vh; */
    /* grid-auto-rows: minmax(400px, auto); */
    // grid-template-columns:2fr 1fr;
    grid-template-areas: "nav"
                        "post"
                         "footer";
    justify-items: center;
    /* border: red 2px solid; */
  }
}